$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


/* Space out content a bit */
body {
  background-color: #2f2f2f;
}

.odometer {
  font-size: 17vw;
  margin: 2% auto;
  display: table !important;
  box-shadow: 1px 1px 40px rgba(255,255,255,0.5);
  .odometer-inside .odometer-digit:first-child {
    display: none;
  }
}

.btn-clear {
  padding: 0.45vw 1vw;
  line-height: 1;
  font-size: 3vw;
  background: #13b5e4;
  color: #fff;
  margin: 0 auto;
  display: block;
}
